<!DOCTYPE html>
<html>
    <head>
        {% include './templates/head.html' %}
        <title>sko</title>
    </head>
    <body>
        {% include './templates/header.html' %}
        {% include './templates/cart.html' %}

        {% include './templates/navigation.html' %}

        <main class="text-center max-sm:w-full lg:w-1/2 ml-auto mr-auto">
            <div class="products grid grid-cols-3 gap-2 place-content-start">
                {% for product in products %}
                <div class="product">
                    <img src="https://media.istockphoto.com/id/1453810805/photo/running-shoes.jpg?s=612x612&w=0&k=20&c=kMXWxhaXOhJ8pzA_Ntis6D6QoAH4jHbV6DOkOggVIUM=" alt="a standard image of a shoe">
                    <h2 class="text-xl font-bold hover:underline"><a href="/{{ loop.index }}">{{ product.name }}</a></h2>
                    <p>{{ product.price }}</p>
                </div>
                {% endfor %}
            </div>
        </main>
    </body>
</html>