<!DOCTYPE html>
<html>
    <head>
        {% include './templates/head.html' %}
        <title>sko</title>
    </head>
    <body>
        {% include './templates/header.html' %}
        
        <main class="text-center w-5/6 lg:w-1/2 ml-auto mr-auto">    
            <div class="text-left flex">
                <img id="product-image" alt="{{ product.name }}" class="border-2 rounded-lg object-fit max-w-md max-h-96 max-md:max-w-64 max-md:max-h-64 max-sm:max-w-48 max-sm:max-h-58" src="/assets/img/products/{{ product.image }}">
                <div class="mx-4">
                    <p class="font-bold">Farve</p>
                    <div class="select-color">
                        {% for color in product.colors %}
                            <input type="radio" name="color" id="{{ color }}" value="{{ color }}" />
                            <label for="{{ color }}"><span class="{{ color }}"></span></label>
                        {% endfor %}
                    </div>

                    <p class="font-bold">Størrelse</p>
                    <div class="select-size">
                        <input type="radio" name="size" id="s36" />
                        <label for="s36"><b>36</b></label>

                        <input type="radio" name="size" id="s37" />
                        <label for="s37"><b>37</b></label>

                        <input type="radio" name="size" id="s38" disabled/>
                        <label for="s38"><b>38</b></label>

                        <input type="radio" name="size" id="s39" />
                        <label for="s39"><b>39</b></label>

                        <input type="radio" name="size" id="s40" />
                        <label for="s40"><b>40</b></label>

                        <input type="radio" name="size" id="s41" />
                        <label for="s41"><b>41</b></label>

                        <input type="radio" name="size" id="s42" />
                        <label for="s42"><b>42</b></label>

                        <input type="radio" name="size" id="s43" disabled />
                        <label for="s43"><b>43</b></label>
                    </div>
                    
                    <br>
                    <p class="font-bold">Pris: <span id="product-price">{{ product.price }}</span> kr.</p>
                    <button id="add-to-cart" class="border-2 rounded-lg p-2 hover:border-black hover:scale-105 duration-150">Føj til kurv</button>
                </div>
            </div>

            <div id="product-rating" class="flex">
                <img src="/assets/img/star-filled.png" class="w-8">
                <img src="/assets/img/star-filled.png" class="w-8">
                <img src="/assets/img/star-filled.png" class="w-8">
                <img src="/assets/img/star-filled.png" class="w-8">
                <img src="/assets/img/star.png" class="w-8">
            </div>
            
            <h2 id="product-title" class="text-left mt-5 text-3xl font-bold">{{ product.name }}</h1>
            
            <p class="text-left ">
                {{ product.description }}
            </p>
        </main>
        
        {% include './templates/footer.html' %}
    </body>
</html>