<!DOCTYPE html>
<html>
    <head>
        {% include './templates/head.html' %}
        <script defer src="/assets/cart.js"></script>
        <title>sko</title>
    </head>
    <body>
        {% include './templates/header.html' %}
        {% include './templates/cart.html' %}
        
        <main class="text-center sm:w-full lg:w-1/2 ml-auto mr-auto">
            {% include './templates/navigation.html' %}
            
            <div class= "text-left flex">
                <img class="border-2 max-w-md max-md:max-w-sm max-sm:max-w-64" src="https://media.istockphoto.com/id/1453810805/photo/running-shoes.jpg?s=612x612&w=0&k=20&c=kMXWxhaXOhJ8pzA_Ntis6D6QoAH4jHbV6DOkOggVIUM=">
                <div class="mx-4">
                    <p class="font-bold">Farve</p>
                    <div class="select-color">
                        {% for color in product.colors %}
                            <input type="radio" name="color" id="{{ color }}" value="{{ color }}" />
                            <label for="{{ color }}"><span class="{{ color }}"></span></label>
                        {% endfor %}
                    </div>

                    <br>
                    <p class="font-bold">Størrelse</p>
                    <div class="select-size">
                        <input type="radio" name="size" id="s32" checked />
                        <label for="s32">32</label>

                        <input type="radio" name="size" id="s34" disabled/>
                        <label for="s34"><b>-</b></label>
                      </div>
                    
                    <br><br>
                    <p class="font-bold">Pris: <span id="product-price">{{ product.price }}</span> Kr</p>
                    <a href="#_" id="add-to-cart" class="relative inline-block px-4 py-2 font-medium group">
                        <span class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:-translate-x-0 group-hover:-translate-y-0"></span>
                        <span class="absolute inset-0 w-full h-full bg-white border-2 border-black group-hover:bg-black"></span>
                        <span class="relative text-black group-hover:text-white">Føj til kurv</span>
                    </a>

                </div>
            </div>
            
            <h2 id="product-title" class="text-left mt-5 text-3xl font-bold">{{ product.name }}</h1>
            
            <p class="text-left ">
                {{ product.description }}
            </p>
        </main>
        
        <footer class="mt-5 py-7 bg-black text-center text-lg text-white text-">
            Ringstedvej 80, 4690 Haslev<br>
            Telefon: 93 94 46 90<br>
            Mail: <a href="mailto:hej@shoefactory.dk" class="underline">hej@shoefactory.dk</a>
            
            <br><br>
            CVR: 35073035
            <ul class="underline">
                <li><a href="#">Handelsbetingelser</a></li>
                <li><a href="#">Persondatapolitik</a></li> 
                <li><a href="#">Copyright 2024 © Web-online</a></li>
            </ul>
        </footer>
    </body>
</html>