<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="/assets/style.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
        <title>sko</title>
    </head>
    <body>
        <header class="text-center ml-auto mr-auto text-black text-6xl max-sm:text-xl max-md:text-4xl">
            <h1><b>SHOE</b>FACTORY</h1>
        </header>
            <div class="flex justify-end absolute top-0 right-0">
                <span class="font-medium mt-5">Indkøbskurv</span>
                <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"> 
                    <img class = "size-16" src="https://www.svgrepo.com/show/511127/shopping-bag-02.svg">
                </button>
                <div id="dropdown" class="border-2 w-40 z-10 hidden" aria-labelledby="dropdownDefaultButton">
                    <p>Antal produkter: </p>
                    <p>samlet pris: </p>
                    <p>Gå til kassen</p>
                </div>
            </div>
        
        <main class="text-center sm:w-full lg:w-1/2 ml-auto mr-auto">
            <nav class="text-gray-600 text-xl flex text-center justify-between py-6 underline">
                <a href="/">Sneakers</a>
                <a href="/">Højhælede</a>
                <a href="/">Støvler</a>
                <a href="/">Sandaler</a>
            </nav>
            
            <div class= "text-left flex">
                <img class="border-2 max-w-md max-md:max-w-sm max-sm:max-w-64" src="https://media.istockphoto.com/id/1453810805/photo/running-shoes.jpg?s=612x612&w=0&k=20&c=kMXWxhaXOhJ8pzA_Ntis6D6QoAH4jHbV6DOkOggVIUM=">
                <div class="mx-4">
                    <p class="font-bold">Farve</p>
                    <div class="select-color">
                        <input type="radio" name="color" id="red" value="red" />
                        <label for="red"><span class="red"></span></label>

                        <input type="radio" name="color" id="green" />
                        <label for="green"><span class="green"></span></label>

                        <input type="radio" name="color" id="yellow" />
                        <label for="yellow"><span class="yellow"></span></label>
                    </div>

                    <br>
                    <p class="font-bold">Størrelse</p>
                    <div class="select-size">
                        <input type="radio" name="size" id="s32" checked />
                        <label for="s32">32</label>

                        <input type="radio" name="size" id="s34" />
                        <label for="s34">34</label>
                      </div>
                    
                    <br><br>
                    <p class="font-bold">Pris: {{ product.price }} Kr</p>
                    <a href="#_" class="relative inline-block px-4 py-2 font-medium group">
                        <span class="absolute inset-0 w-full h-full transition duration-200 ease-out transform translate-x-1 translate-y-1 bg-black group-hover:-translate-x-0 group-hover:-translate-y-0"></span>
                        <span class="absolute inset-0 w-full h-full bg-white border-2 border-black group-hover:bg-black"></span>
                        <span class="relative text-black group-hover:text-white">Føj til kurv</span>
                    </a>

                </div>
            </div>
            
            <h1 class="text-left mt-5 text-3xl font-bold">{{ product.name }}</h1>
            
            <p class="text-left ">
                {{ product.description }}
            </p>
        </main>
        <footer class="mt-5 py-7 bg-black text-center text-lg text-white text-">
                Ringstedvej 80
                4690 Haslev
                Telefon: 93 94 46 90
                <a href="mailto:hej@shoefactory.dk">Mail:hej@shoefactory.dk</a>
                CVR: 35073035
            <ul class="underline">
                <li><a href="#">Handelsbetingelser</a></li>
                <li><a href="#">Persondatapolitik</a></li> 
                <li><a href="#">Copyright 2024 © Web-online</a></li>
            </ul>
                
        </footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>    
    </body>
</html>