<div class="flex justify-end absolute top-0 right-0">
    <span class="font-medium mt-5">Indkøbskurv</span>
    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown"> 
        <img id="image" class="size-16" src="https://www.svgrepo.com/show/511127/shopping-bag-02.svg">
    </button>
    <div id="dropdown" class="border-2 w-40 z-10 hidden" aria-labelledby="dropdownDefaultButton">
        <p>Antal produkter: </p>
        <p>samlet pris: </p>
        <p>Gå til kassen</p>
    </div>
</div>