<nav class="text-gray-600 lg:w-1/2 text-xl font-bold flex text-center justify-around py-4 underline ml-auto mr-auto">
    <a href="/category/sneakers" class="hover:text-black hover:scale-105 duration-150">Sneakers</a>
    <a href="/category/stilettos" class="hover:text-black hover:scale-105 duration-150">Højhælede</a>
    <a href="/category/boots" class="hover:text-black hover:scale-105 duration-150">Støvler</a>
    <a href="/category/sandals" class="hover:text-black hover:scale-105 duration-150">Sandaler</a>
</nav>