<!-- https://tailwindcomponents.com/component/search-bar -->
<!--
<datalist id="search-options">
    {% for product in products %}
        <option value="{{ product.name }}">{{ product.name }}</option>
    {% endfor %}
</datalist>
-->

<div class="flex justify-start absolute pt-2 mx-auto text-gray-600 top-0 left-2 max-md:hidden">
    <input id="search-input" aria-label="search" class="border-2 border-gray-300 bg-white w-40 h-10 px-5 pr-4 rounded-lg text-sm focus:outline-none" type="search" name="search" placeholder="Search" list="search-options">
    <button id="search-button" type="submit" class="absolute right-0 top-0 mt-5 mr-4" alt="search">
        <img src="/assets/img/search.png" class="text-gray-600 h-4 w-4 fill-current" alt="search">
    </button>
</div>