:root {
    --radio-size: 1.5rem;
    --border-radius: 0.4em;
    --radio-margin: 0.2em;
}

/* color picker */
/* necessary for some reason: https://stackoverflow.com/a/16946923 */
.select-color input {
    display: none;
}
.select-color input:checked + label span {
    transform: scale(1.25);
    border: 2px solid black;
}
.select-color label {
    display: inline-block;
    width: var(--radio-size);
    height: var(--radio-size);
    margin-right: var(--radio-margin);
    cursor: pointer;
}
.select-color label:hover span {
    transform: scale(1.25);
}
.select-color label span {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    transition: transform 0.2s ease-in-out;
}
.select-color label span.black {
    background: #1B1C1D;
}
.select-color label span.red {
    background: #DB2828;
}
.select-color label span.orange {
    background: #F2711C;
}
.select-color label span.yellow {
    background: #FBBD08;
}
.select-color label span.olive {
    background: #B5CC18;
}
.select-color label span.green {
    background: #21BA45;
}
.select-color label span.teal {
    background: #00B5AD;
}
.select-color label span.blue {
    background: #2185D0;
}
.select-color label span.violet {
    background: #6435C9;
}
.select-color label span.purple {
    background: #A333C8;
}
.select-color label span.pink {
    background: #E03997;
}

/* size picker */
.select-size input {
    display: none;
}
  
.select-size label {
    display: inline-block;
    width: var(--radio-size);
    height: var(--radio-size);
    text-align: center;
    vertical-align: top;
    line-height: calc(var(--radio-size) - 0.25em);
    margin-right: 0.2em;
    border: 2px solid #ddd;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.select-size label:hover {
    transform: scale(1.25);
}

.select-size input:checked + label {
    transform: scale(1.25);
    background: #999;
    color: #fff;
    border: 2px solid black;
}
   